body {
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  font-family: "Nunito Sans";
}

.btn-light {
  margin: 0 30px;
}

#copyright {
  font-family: "Nunito Sans";
  background-color: #212529;
  height: 40px;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  color: white;
}

nav {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  background-color: #e6e6e6;
  height: 130px;
  z-index: 1;
}
.navbar__left-container {
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #e6e6e6;
}
.navbar__left-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.navbar__left-info #logo-vault-tec {
  width: 100px;
  height: 100px;
}
.navbar__left-info #slogan {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}
.navbar__right-container {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0%, 111% 100%, 0% 100%);
  background-color: #0e193e;
}
.navbar__navbar-nav {
  display: flex;
  width: 85%;
  margin-top: 54px;
  margin-left: 120px;
  justify-content: space-around;
}
.navbar__nav-link {
  text-decoration: none;
  font-family: "Nunito Sans";
  font-weight: 900;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
}
.navbar__nav-link:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 0;
}

.footer {
  color: white;
  font-family: "Oswald" !important;
  padding: 40px;
  font-size: 20px;
  font-weight: 400;
}
.footer--background {
  background-color: #0e193e;
}
.footer__container-box {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.footer__title {
  font-size: 30px;
  font-weight: 400;
}
.rs--light {
  font-size: 30px;
  color: white;
}

.container {
  padding: 60px;
}

.contact-info {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 50px;
}
.contact-info__left-side {
  background-color: white;
  width: 50%;
}
.contact-info__right-side {
  width: 100%;
  background-color: #0e193e;
}
.contact-info__right-side form {
  padding: 70px;
}
.contact-info__right-side form .testForm {
  color: whitesmoke;
  background: #092748;
  padding: 20px 50px;
  border: none;
}

.info-box {
  position: relative;
  border-bottom: 1px solid grey;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
}

h4 {
  text-transform: uppercase;
}

.icon-right {
  position: absolute;
  color: #e4a13e;
  margin: 25px 15px;
}

.icon-left {
  position: absolute;
  top: 25%;
  font-size: 20px;
  left: 20px;
  color: #092748;
}

.form-btn {
  padding: 10px 50px;
  border: none;
  background-color: #e4a13e;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 20px;
}

.head {
  margin-top: 120px;
  margin-bottom: 30px;
}
.head__title {
  font-size: 30px;
  text-align: center;
  font-family: "Oswald";
  color: #0e193e;
  border-bottom: #b3b3b3 1px solid;
  width: 30%;
  padding-bottom: 15px;
  margin: 30px auto;
}

.img {
  margin-top: 129px;
  width: 100%;
  height: 100%;
}

.section {
  padding: 1rem 0;
}
.section--background-grey {
  background-color: #0e193e;
}
.section--background-white {
  background-color: white;
}
.section__title {
  font-size: 30px;
  text-align: center;
  font-family: "Oswald";
  color: white;
  border-bottom: #b3b3b3 1px solid;
  width: 30%;
  padding-bottom: 15px;
  margin: 30px auto;
}
.section__title--dark {
  color: #0e193e;
}
.section__container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
}
.section__service-box {
  text-align: center;
  background-color: #b3b3b3;
  width: 25%;
  height: 100%;
  border-radius: 20px;
  color: white;
  padding: 20px;
}
.section__title-box {
  border-bottom: #cdcfd1 1px solid;
  display: block;
}
.section__partner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section__logoPartner {
  width: 20%;
  height: 20%;
}

.team-box {
  background-color: antiquewhite;
  width: 30%;
}

.cadre-photo {
  width: 20%;
  height: 20%;
  border-radius: 20px;
  background-color: black;
}

.cadre-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: green;
  border: 1px solid #e4a13e;
}

/*# sourceMappingURL=style.css.map */
