.img {
    margin-top: 129px;
    width: 100%;
    height: 100%;
}

.section {
    padding: 1rem 0;

    &--background-blue {
        background-color: #0e193e;
    }

    &--background-white {
        background-color: white;
    }

    &__title {
        @include title-section(white);
        &--dark {
            color: #0e193e;
        }
    }

    &__container-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 40px;
    }

    &__partner {
        display: flex;
        width: 80%;
        margin: auto;
        height: 400px;
    }

    &__logoPartner {
        object-fit: contain;
        width: 50%;
    }
}

.testTemoignage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.testParolePartenaire {
    width: 45%;
    margin-top: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
}
