.services-section {
    display: flex;
    justify-content: space-between;
}
.box-services {
    background: $grey;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    width: 30%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

    &__title {
        font-family: "Oswald";
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 15px;
        color: white;
    }

    &__icon {
        color: $yellow;
        font-size: 70px;
    }

    &__description {
        width: 80%;
        margin: 10px auto;
        text-align: justify;
        color: white;
        padding: 30px;
    }
}

.Prout{
    height: 500px;
    padding: 30px;
    margin: 30px;
    width: 80%;
    background-color: $blue;
    margin: auto;
    border-radius: 20px;
}

.diagonal-box {
    border-bottom: 1px solid $yellow;
    transform: skewY(5deg);
}

.content {
    max-width: 50em;
    margin: 0 auto;
    transform: skewY(-5deg);
}
