.box-services {
    background-color: #e6e6e6;
    display: flex;
    margin: 50px auto;
    width: 70%;
}

.encart__service-box {
    width: 200px;
    height: 200px;

}
.encart__icon-service-box{
    font-size: 20px;
}

.encart__title-box{
    font-size: 15px;
}

.services-description {
    padding: 30px;
    text-align: justify;
}
