.team-box{
    background-color: antiquewhite;
    width: 30%;
}
.cadre-photo {
    width: 20%;
    height: 20%;
    border-radius: 20px;
    background-color: black;
}

.cadre-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: green;
    border: 1px solid #e4a13e;
}